<% include ./partials/header %>

<section id="history">
  <h1>Zoekgeschiedenis</h1>
  <!-- <a href="#start" id="oudeZoekOpdracht"></a> -->
  <% zoekGeschiedenis.forEach((term, i) => { %>
    <li>
      <a href="/search?q=<%=term%>"><%=term%></a>
    </li>
  <% })%>
  <ul>
  </ul>
</section>

<% include ./partials/footer %>
