<% include ./partials/header %>

<section id="djKhaled">
  <h1>DJ Khaled</h1>
  <p>We the best music</p>
  <img src="https://www.puna.nl/wp-content/uploads/2016/01/DJ-Khaled.jpg" alt="">
</section>

<% include ./partials/footer %>
