    <footer>
      <% if(locals.q){ %>
        <a href="/search?q=<%=q%>">Start</a>
      <% } else { %>
        <a href="/"><p>Start</p></a>
      <% } %>
      <a href="history"><p>Zoekgeschiedenis</p></a>
      <a href="khaled"><p>Khaled</p></a>
    </footer>

  </body>
</html>
